body{
    font-family: Helvetica, sans-serif;
}

:root{
    --bg-color-primary: #354050;
    --bg-color-light: #44556C;
    --bg-color-secondary: #6CBA9C;

    --ms_line_white: #fff;
}

/*
REGOLE COMUNI
*/
ul{
    list-style: none;
}

a{
    text-decoration: none;
}


/*
NAVBAR
*/

nav, .copyright{
    background-color: var(--bg-color-primary);
}

.nav-link{
    color: white;
}

nav .nav-item:hover a{
    color: var(--bg-color-secondary);
}

.ham_menu{
    height: 40px;
    width: 40px;
    background-color: white;
}

/*
SEZIONE JUMBO
*/

#avatar{
    width: 300px;
}

.ms_line{
    display: inline-block;
    height: 2px;
    width: 50px;
    background-color: var(--ms_line_white);
}

.ms_black_line{
    background-color: var(--bg-color-primary);
}

.jumbo, #about-us{
    background-color: var(--bg-color-secondary);
}

/*
SEZIONE MAIN
*/
form input, form textarea{
    width: 100%;
}

.ms_foto_container{
    width: 100%;
    position: relative;
}

/* .ms_foto_container:hover .card-img-overlay{
    display: block;
}

.card-img-overlay{
    background-color: rgba(0,0,0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* display: none;
}

.card-img-overlay>i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 60px;
    display: none; 
} */

.overlay{
    background-color: rgba(0,0,0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
}

.overlay-text {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 60px;
    display: none;
}

.ms_foto_container:hover .overlay,
.ms_foto_container:hover .overlay-text{
    display: block;
} 

/*
FOOTER
*/
footer{
    background-color: var(--bg-color-light);
}

#start-bootstrap{
    color: var(--bg-color-secondary);
}

#start-bootstrap:hover{
    text-decoration: underline;
}