body{
    font-family: Helvetica, sans-serif;
}

nav{
    background-color: #354050;
}

.jumbo, #about-us{
    background-color: #6CBA9C;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.ham_menu{
    height: 40px;
    width: 40px;
    background-color: white;
}

img{
    width: 100px;
    height: 100px;
    background-color: white;
}

.foto_box{
    height: 200px;
    background-color: red;
}
