body{
    font-family: Helvetica, sans-serif;
}

:root{
    --bg-color-primary: #354050;
    --bg-color-light: #44556C;
    --bg-color-secondary: #6CBA9C;

    --ms_line_white: #fff;
}

/*
NAVBAR
*/

nav, .copyright{
    background-color: var(--bg-color-primary);
}



.ms_white_line{
    display: inline-block;
    height: 2px;
    width: 50px;
    background-color: var(--ms_line_white);
}

.ms_black_line{
    background-color: var(--bg-color-primary);
}

.jumbo, #about-us{
    background-color: var(--bg-color-secondary);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.ham_menu{
    height: 40px;
    width: 40px;
    background-color: white;
}

img{
    width: 100px;
    height: 100px;
    background-color: white;
}

.foto_box{
    height: 200px;
    background-color: red;
}


footer{
    background-color: var(--bg-color-light);
}